
body {
    background-color: #f6fcfc;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    font-family: Arial, sans-serif;
    color: rgb(112, 169, 255);
    margin-top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
header img {
    height: 20px;
    margin-left: 10px;
    margin-top: 50px;
    filter: drop-shadow(1px 1px 3px black);
}
header h1{
    font-size: 100px;
    text-shadow: 1px 1px 3px black;
}

.botonesFormularios {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-top: 160px;
    
}

#citas {
    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid #1976D2;
    background-color: white;
    color: #1976D2;              
    font-size: 16px;               
    cursor: pointer;
    transition: 0.5s;
}

#citas:hover {
    background-color:#1976D2;
    color: wheat;
}

.formulario1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    background-color: rgba(7, 177, 255, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
}