
body {
    background-color: #f6fcfc;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    font-family: Arial, sans-serif;
    color: rgb(112, 169, 255);
    margin-top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
header img {
    height: 20px;
    margin-left: 10px;
    margin-top: 50px;
    filter: drop-shadow(1px 1px 3px black);
}
header h1{
    font-size: 100px;
    text-shadow: 1px 1px 3px black;
}

.botonesFormularios {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-top: 160px;
    align-items: center;
    
}

.citas {
    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid #1976D2;
    background-color: white;
    color: #1976D2;              
    font-size: 16px;               
    cursor: pointer;
    transition: 0.5s;
}

.citas:hover {
    background-color:#1976D2;
    color: wheat;
}

.formulario1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    background-color: rgba(7, 177, 255, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    /* Mantener fila pero ajustar tamaños */
    header {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    
    /* Título más pequeño */
    header h1 {
        font-size: 4rem;
        margin: 0;
    }
    
    /* Logo más pequeño y pegado al título */
    header img {
        height: 15px; /* Más pequeño */
        margin-left: 8px;
        margin-top: 30px;
        transform: none;
    }
    .citas {
        transform: scale(0.75);
        transform-origin: center;
    }
    .botonesFormularios {
        gap: 55px;
        padding: 80px;
    }
    body {
    padding-top: 20vh;
    }
    #modalCita .modal-dialog {
        transform: scale(0.8);
    }
    
    #modalCita .modal-content {
        padding: 15px;
    }
    #modalListado .modal-dialog {
        max-width: 98%;
        margin: 0.5vh auto;
    }
    

    #modalListado table {
        max-width: 100%;
        display: block;
    }
    

    #modalListado td {
        min-width: 77px;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 0;
    }
    
    #modalListado .btn-sm {
        padding: 2px 4px;
        font-size: 10px;
        margin: 1px;
    }
    #modalListado td {
        font-size: 12px;
    }

        #modalListado th:first-child,
    #modalListado td:first-child {
        min-width: 30px !important;  /* Muy estrecha */
        max-width: 40px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        text-align: center !important;
    }
    
    /* Columna Paciente más cerca del # */
    #modalListado th:nth-child(2),
    #modalListado td:nth-child(2) {
        padding-left: 8px !important; /* Menos espacio después del # */
        min-width: 100px;
    }
}